html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

  
.main {
    display: flex;
    justify-content: center;
    width:100vw;
}

.leftside {
    flex-grow: 1;
    position: relative;
    width: 61vw;
    min-width: 500px;
    height: 100vh;
    background: url(background_image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
}

.rightside p{
    font-size: .8rem;
    color: white;
    position: absolute;
    text-align: justify;
    margin-left: 26vw;
    margin-right: 3vw;
    top: 8%;
    z-index: 2;
    font-size: 1rem; /* Make text larger */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for pop effect */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 1rem; /* Padding inside the p element */
    border-radius: 8px; /* Rounded corners for the background */
    line-height: 1.4; /* Increase line height for readability */
}

.rightside {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 2rem;
    max-width: 65vw; 
}

input {
    padding: 8px 10px; 
    border-radius: 10px; 
    border: 2px solid rgb(86, 118, 160); 
    font-size: 1rem; 
    color: #4b4b4b; 
    transition: border-color 0.2s, box-shadow 0.2s; 
    font-family: "Poppins", sans-serif;
    width: calc(100% - 20px);
    margin-bottom: 1rem;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
        
}

.input-section {
    background-color: white;
    padding: 8px 10px 8px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 8px;
}


label {
  margin-bottom: 15px;
}

.header, .submit-section {
    padding: 0px 0.5vw;
}

.submit-section {
  margin-top: 2rem;
}

button[type='submit'] {
  padding: .8rem 1.3rem;
  font-size: 1.3rem;
  background-color: rgb(86, 118, 160);
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: -1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

button[type='submit']:hover {
  background-color: rgb(35, 74, 116);
}

input:focus {
  border: none;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
  outline: none;
}

input:focus {
  border: 2px solid rgb(86, 118, 160)
}

